<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head-front"></head>
<body>

	<div class="container m-5">


		<div th:if="${error}!=null" class="card text-white bg-danger mb-3">
			<div class="card-body">
				<h5 class="card-title">Error</h5>
				<p class="card-text" th:text="${error}"></p>
<!-- 				<p class="card-text">[(${error})]</p> -->
			</div>
		</div>

		<form id="formulario" method="POST" th:action="@{/registro}" th:object="${usuario}">


			<div class="form-group">
				<label>Nombre</label> <input type="text" class="form-control" placeholder="Nombre" th:field="*{nombre}" th:value="*{nombre}">
			</div>

			<div class="form-group">
				<label>Apellido</label> <input type="text" class="form-control" placeholder="Apellido" th:field="*{apellido}"
					th:value="*{apellido}">
			</div>

			<div class="form-group">
				<label>DNI</label> <input type="text" class="form-control" placeholder="DNI" th:field="*{dni}" th:value="*{dni}">
			</div>

			<div class="form-group">
				<label>Nacimiento</label> <input type="date" class="form-control" placeholder="Nacimiento" th:field="*{nacimiento}"
					th:value="*{nacimiento}">
			</div>

			<div class="form-group">
				<label>Email</label> <input type="email" class="form-control" placeholder="email@..." th:field="*{email}" th:value="*{email}">
			</div>

			<div class="form-group">
				<label>Clave</label> <input type="password" class="form-control" placeholder="Clave" th:field="*{clave}" th:value="*{clave}">
			</div>

			<div class="form-group">
				<label>Rol</label>
				<select th:field="*{rol}">
					<option th:each="r : ${T(com.perrosv22.app.enums.Rol).values()}" th:value="${r}" th:text="${r}"></option>
				</select>
			</div>


			
		</form>
			<button type="submit" form="formulario" class="btn btn-primary">Submit</button>

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
					</p>
				</div>
			</div>
		</section>

	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>